mlsweep.egg-info/**
mlsweep/_bin/parsync
mlsweep/_wheels/**
build/**
uv.lock

.cache/**
.claude/
.venv/**
venv/**
**/__pycache__/**
**/outputs/**
**/*.swp
wandb/**
.nac/*
**/.pytest_cache/**
**/mlsweep_downloads/**

